### Deliverable-3

In [1]:
import sqlite3 as lite
import pandas as pd

In [2]:
conn = lite.connect("store1.db")
cur = conn.cursor()

In [3]:
cur.execute("DROP TABLE IF EXISTS StoreDimension")

cur.execute("""
    CREATE TABLE StoreDimension(
            StoreKey int primary key,
            StoreManager varchar(20),
            StoreStreetAddr varchar(50),
            StoreTown varchar(20),
            StoreZipCode varchar(7),
            "StorePhone#" varchar(10),
            StoreState varchar(15)
            )
""")

In [7]:
store_df = pd.DataFrame({
    'StoreKey': [1],
    'StoreManager': ['Pavan Kumar Mistry'],
    'StoreStreetAddr':['123 Main St'],
    'StoreTown':['Glassboro'],
    'StoreZipCode': ['08028'],
    'StorePhone#': ['(856) 123-4567'],
    'StoreState':['NJ'],
})

In [6]:
store_df

,StoreKey,StoreManager,StoreStreetAddr,StoreTown,StoreZipCode,StorePhone,StoreState
0,1,Pavan Kumar Mistry,123 Main St,Glassboro,08028,(856) 123-4567,NJ

In [8]:
store_df.to_sql('StoreDimension', conn, if_exists='replace', index=False)

1

In [9]:
cur.close()
conn.close()