In [2]:
import pandas as pd
import sqlite3 as lite

In [3]:
conn = lite.connect("store1.db")

In [ ]:
# Load inventory data
sales_transactions = pd.read_sql("select * from sales_transactions", conn)
product_dimension = pd.read_sql("select * from ProductDimension", conn)

,date,customer_number,sku,salesPrice,items_left,cases_ordered
0,2024-01-01,1,42360001,2.08,191,16
1,2024-01-01,1,42907001,2.75,83,7
2,2024-01-01,1,43896001,1.03,83,7
3,2024-01-01,1,42367001,3.25,83,7
4,2024-01-01,1,42113001,1.88,83,7

In [21]:
sales_transactions.head()

,date,customer_number,sku,salesPrice,items_left,cases_ordered
0,2024-01-01,1,42360001,2.08,191,16
1,2024-01-01,1,42907001,2.75,83,7
2,2024-01-01,1,43896001,1.03,83,7
3,2024-01-01,1,42367001,3.25,83,7
4,2024-01-01,1,42113001,1.88,83,7

In [19]:
inventory[inventory['Quarter'] == 1].shape

(16160, 12)

In [5]:
product_dimension.head()

,ProductKey,sku,product_name,product_class_id,subcategory,category,department,product_family,size,brandName,supplier
0,1,42081001,Jambalaya Rice Mix,57,Rice,Starchy Foods,Starchy Foods,Food,12 oz,Zatarains,Rowan Warehouse
1,2,42082001,Jambalaya Rice Mix,57,Rice,Starchy Foods,Starchy Foods,Food,8 oz,Zatarains,Rowan Warehouse
2,3,42083001,Guacamole Regular,99,Fresh Fruit,Fruit,Produce,Food,8 oz,Yucatan,Rowan Warehouse
3,4,42084001,Coffee Original Blend,90,Coffee,Hot Beverages,Beverages,Drink,12 oz,Yuban,Rowan Warehouse
4,5,42085001,GoGurt Variety Pack,6,Yogurt,Dairy,Dairy,Food,8 ct,Yoplait,Rowan Warehouse

In [6]:
# Filter for Q1 2024 and Q1 2025
q1_2024 = inventory[inventory['Quarter and Year'] == "Q1 2024"]
q1_2025 = inventory[inventory['Quarter and Year'] == "Q1 2025"]

In [7]:
# Get product details from dimension table
product_details = product_dimension[['ProductKey', 'sku',
                               'product_name', 'category', 'subcategory']]

In [ ]:
def prepare_quarterly_report(df, year_quarter):
    # Aggregate sales by product
    product_sales = df.groupby('ProductKey')[
        'TotalSoldByStoreThisQuarter', "StoreKey"].sum().reset_index()
    

    product_sales = product_sales.rename(
        columns={'TotalSoldByStoreThisQuarter': f'{year_quarter} Sales'})

    # Add rank
    product_sales[f'{year_quarter} Rank'] = product_sales[f'{year_quarter} Sales'].rank(
        ascending=False, method='min').astype(int)

    # Merge with product details
    report = pd.merge(product_sales, product_details,
                      on='ProductKey', how='left')

    return report.sort_values(f'{year_quarter} Rank')

In [18]:
# Prepare reports for both quarters
report_2024q1 = prepare_quarterly_report(q1_2024, '2024Q1')
report_2025q1 = prepare_quarterly_report(q1_2025, '2025Q1')

# Merge the two reports
final_report = pd.merge(
    report_2024q1,
    report_2025q1,
    on=['ProductKey', 'sku', 'product_name', 'category', 'subcategory'],
    how='outer'
)

# Select and reorder columns to match your desired format
final_report = final_report[[
    'sku', 'product_name', 'category', 'subcategory',
    '2024Q1 Rank', '2024Q1 Sales', '2025Q1 Rank', '2025Q1 Sales'
]]

# Sort by 2024Q1 rank to match your example
final_report = final_report.sort_values('2024Q1 Rank')

# Handle NaN values and format sales numbers with commas (optional)
final_report['2024Q1 Sales'] = final_report['2024Q1 Sales'].fillna(0).apply(
    lambda x: f"{int(x):,}")
final_report['2025Q1 Sales'] = final_report['2025Q1 Sales'].fillna(0).apply(
    lambda x: f"{int(x):,}")


final_report.iloc[:40]

# Save to CSV
# final_report.to_csv('product_rankings_comparison.csv', index=False)

,sku,product_name,category,subcategory,2024Q1 Rank,2024Q1 Sales,2025Q1 Rank,2025Q1 Sales
278,42359001,Whole Milk Milk,Dairy,Milk,1.0,"256,792,800",5.0,"2,213,600,004"
277,42358001,2.00% Milk,Dairy,Milk,2.0,"256,177,944",2.0,"2,244,906,708"
276,42357001,2.00% Milk,Dairy,Milk,3.0,"256,110,936",6.0,"2,209,889,088"
274,42355001,1.00% Milk,Dairy,Milk,4.0,"255,870,636",1.0,"2,254,055,112"
279,42360001,Whole Milk Milk,Dairy,Milk,5.0,"253,960,140",3.0,"2,227,959,648"
275,42356001,1.00% Milk,Dairy,Milk,6.0,"253,212,312",4.0,"2,220,856,344"
233,42314001,Squeeze Jelly Grape,Jams and Jellies,Jelly,7.0,"20,743,572",10.0,"171,619,032"
231,42312001,Jam Strawberry,Jams and Jellies,Jam,8.0,"20,610,036",8.0,"175,396,452"
230,42311001,Jam Grape,Jams and Jellies,Jam,9.0,"20,446,452",7.0,"176,205,600"
232,42313001,Jelly Grape,Jams and Jellies,Jam,10.0,"20,391,312",9.0,"174,394,680"
378,42459001,Pleasant Chicken Noodle Soup,Canned Soup,Soup,11.0,"9,933,132",539.0,"79,596,948"
577,42658001,Carnation Reduced Fat,Dairy,Milk,12.0,"9,909,132",1043.0,"78,801,408"
1381,43467001,Ruffles Potato Chips Cheddar & Sour Cream,Snack Foods,Chips,13.0,"9,886,896",563.0,"79,564,560"
689,42772001,Coffee Medium Original,Hot Beverages,Coffee,14.0,"9,880,056",882.0,"79,063,692"
1677,43763001,Club Large Curd Cottage Cheese,Dairy,Cottage Cheese,15.0,"9,859,860",855.0,"79,089,600"
639,42720001,Musial Mint Chocolate Bar,Candy,Chocolate Candy,16.0,"9,854,076",508.0,"79,654,752"
1076,43162001,Hermanos Peaches,Fruit,Fresh Fruit,17.0,"9,848,328",18.0,"81,734,436"
357,42438001,Zero Orange,Drinks,Flavored Drinks,18.0,"9,841,932",533.0,"79,606,524"
565,42646001,Coffee Columbian Excelso,Hot Beverages,Coffee,19.0,"9,836,748",445.0,"79,790,412"
797,42881001,Eggo Waffles Blueberry,Breakfast Foods,Waffles,20.0,"9,834,072",1270.0,"78,450,228"
1403,43489001,Tostitos Simply Organic Salsa Chunky Medium,Snack Foods,Dips,21.0,"9,832,848",344.0,"80,002,104"
1834,43920001,Blue Label Chicken Ramen Soup,Canned Soup,Soup,22.0,"9,828,468",62.0,"81,026,664"
1416,43502001,Variety Pack Baked & Popped Mix,Snack Foods,Chips,23.0,"9,817,308",810.0,"79,147,668"
1889,43975001,Hamburger Helper Philly Cheesesteak,Starchy Foods,Pasta,24.0,"9,813,036",1001.0,"78,869,460"
1764,43850001,Dog Treats Beef,Pet Foods,Pet Foods,25.0,"9,788,676",1231.0,"78,509,388"
210,42291001,Coffee House Blend Decaf,Hot Beverages,Coffee,26.0,"9,787,536",1069.0,"78,755,280"
379,42460001,Pleasant Chicken Ramen Soup,Canned Soup,Soup,27.0,"9,778,560",68.0,"81,002,844"
999,43085001,High Top Dried Mushrooms,Vegetables,Fresh Vegetables,28.0,"9,777,984",771.0,"79,211,796"
455,42536001,Goldfish Blasted Xtra Cheddar,Snack Foods,Crackers,29.0,"9,765,972",380.0,"79,932,900"
87,42168001,Bagels 100% Whole Wheat Mini,Bread,Bagels,30.0,"9,762,864",378.0,"79,937,064"
1458,43544001,Coffee Gourmet Supreme Dark,Hot Beverages,Coffee,31.0,"9,758,928",198.0,"80,375,016"
1052,43138001,Hermanos Cantelope,Fruit,Fresh Fruit,32.0,"9,752,784",964.0,"78,925,308"
1048,43134001,Hermanos Baby Onion,Vegetables,Fresh Vegetables,33.0,"9,751,812",689.0,"79,358,628"
150,42231001,Cake Koffee Kake Cream Filled,Snack Foods,Packaged Snacks,34.0,"9,746,580",440.0,"79,793,436"
325,42406001,Cheese Burger Potato Crisps,Snack Foods,Chips,35.0,"9,746,544",54.0,"81,131,364"
59,42140001,Tri-State Squash,Vegetables,Fresh Vegetables,36.0,"9,744,528",530.0,"79,614,648"
1699,43785001,100% Colombian Coffee,Hot Beverages,Coffee,37.0,"9,739,188",1633.0,"77,190,480"
1613,43699001,Hazelnut Coffee,Hot Beverages,Coffee,38.0,"9,736,236",1347.0,"78,273,300"
965,43049001,Pie Apple,Snack Foods,Packaged Snacks,39.0,"9,735,816",229.0,"80,282,304"
38,42119001,Tri-State Golden Delcious Apples,Fruit,Fresh Fruit,40.0,"9,734,916",1150.0,"78,631,920"