### Deliverable-3

In [1]:
import sqlite3 as lite
import pandas as pd

In [2]:
conn = lite.connect("store1.db")
cur = conn.cursor()

output_file_path = "./output/"

In [3]:
cur.execute("DROP TABLE IF EXISTS StoreDimension")

cur.execute("""
    CREATE TABLE StoreDimension(
            StoreKey int primary key,
            StoreManager varchar(20),
            StoreStreetAddr varchar(50),
            StoreTown varchar(20),
            StoreZipCode varchar(7),
            "StorePhone#" varchar(10),
            StoreState varchar(15)
            )
""")

In [4]:
store_df = pd.DataFrame({
    'StoreKey': [1, 2, 3, 4],
    'StoreManager': ['Pavan Kumar Mistry', "Anthony C", "Momin", "Johan-Bryan"],
    'StoreStreetAddr': ['123 Main St', '456 Broadway', '789 Market St', '321 Liberty Ave'],
    'StoreTown': ['Glassboro', 'New York', 'Philadelphia', 'Jersey City'],
    'StoreZipCode': ['08028', '10001', '19103', '07302'],
    'StorePhone#': ['(856) 123-4567', '(212) 234-5678', '(215) 345-6789', '(201) 456-7890'],
    'StoreState': ['NJ', 'NY', 'PA', 'NJ'],
})

In [5]:
store_df

,StoreKey,StoreManager,StoreStreetAddr,StoreTown,StoreZipCode,StorePhone#,StoreState
0,1,Pavan Kumar Mistry,123 Main St,Glassboro,08028,(856) 123-4567,NJ
1,2,Anthony C,456 Broadway,New York,10001,(212) 234-5678,NY
2,3,Momin,789 Market St,Philadelphia,19103,(215) 345-6789,PA
3,4,Johan-Bryan,321 Liberty Ave,Jersey City,07302,(201) 456-7890,NJ

In [6]:
store_df.to_sql('StoreDimension', conn, if_exists='replace', index=False)

4

In [7]:
cur.close()
conn.close()

In [8]:
store_df.to_csv(f"{output_file_path}StoreDimension-d3.csv", index=False)